<ng-container >
    <div class="homeclass">
        <div class="getstarted"> Let's Get Started!</div>
        <div class="menu">
            <div class="menuimg image">
            </div>
            <div class="description menudescription">
                <div class="heading"><h3>Welcome to Heartbeat Delights</h3></div>
                <div class="para">At Heartbeat Delights, we believe that every moment deserves a touch of sweetness. We specialize in creating charming gift hampers and themed gift boxes that are perfect for all occasions, whether you're celebrating a birthday, anniversary, or simply want to brighten someone's day.  
                </div>
            </div>
        </div>
        <div class="ambience">
            <div class="ambimg image">
            </div>
            <div class="description amgdescription">
                <div class="heading"><h3>Our Story</h3></div>
                <div class="para">Heartbeat Delights was born out of a passion for all things cute and delightful. As a lover of adorable themes and heartfelt gestures, I embarked on a journey to share my obsession with the world by starting this small business. Our mission is to spread joy and warmth through carefully curated gift collections that capture the essence of love and celebration. 
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="description menudescription">
                <div class="heading"><h3>What We Offer</h3></div>
                <div class="para">Explore our delightful selection of themed gift boxes and customizable items, designed to make every moment memorable. From elegant greetings to charming surprises, each item in our collection is carefully crafted to evoke smiles and spark joy.
                </div>
            </div>
            <div class="menuimg image"></div>
        </div>
        <div class="ambience">
            <div class="ambimg image">
            </div>
            <div class="description amgdescription">
                <div class="heading"><h3>Our Commitment</h3></div>
                <div class="para">At Heartbeat Delights, we are committed to delivering high-quality products and exceptional customer service. We take pride in offering a seamless shopping experience and ensuring that every gift leaves a lasting impression.</div>
            </div>
        </div>
        <div class="menu">
            <div class="description menudescription">
                <div class="heading"><h3>Join Our Community</h3></div>
                <div class="para">Join our community of #greeting enthusiasts and discover the joy of giving with Heartbeat Delights. Follow us on social media to stay updated on the latest trends, promotions, and special offers.</div>
            </div>
            <div class="menuimg image"></div>
        </div>
    </div>
</ng-container>


