<ng-container >
    <div class="homeclass">
        <div class="getstarted"> Let's Get Started!</div>
        <div class="menu">
            <div class="menuimg image">
            </div>
            <div class="description menudescription">
                <div class="heading"><h3>Valentine's Day Specials</h3></div>
                <div class="para">Celebrate love with our exclusive Valentine's Day collection. Surprise your significant other with a heartfelt gift that expresses your affection. From customizable Valentine’s cards to elegant jewelry and indulgent treats, we have everything you need to make this Valentine's Day unforgettable.</div>
            </div>
        </div>
        <div class="ambience">
            <div class="ambimg image">
            </div>
            <div class="description amgdescription">
                <div class="heading"><h3>Special Offer: Buy a Pair of Gifts and Get 2% Off</h3></div>
                <div class="para">Make the most of our special offer by purchasing a pair of gifts for your loved ones. Enjoy a 2% discount when you buy a combination of gifts from our curated selection. Spread joy and save while you shop!</div>
            </div>
        </div>
        <div class="menu">
            <div class="description menudescription">
                <div class="heading"><h3>Shipping Information</h3></div>
                <div class="para">Enjoy free shipping within Mumbai and Thane on all orders. For orders outside Mumbai and Thane, additional shipping charges will apply. Contact us for more information on shipping rates and delivery options.</div>
            </div>
            <div class="menuimg image"></div>
        </div>
    </div>
</ng-container>

